
// @mixin font-stack-body {
// font: {
//   family: Helvetica, Arial, sans-sarif;
//   size: .9rem;
//   weight: 400px;
// }
// }
//
// @mixin fonts-stack-feature {
// font: {
//   family: Avenir, Helvetica, Arial, sans-sarif;
//   size: 1.1rem;
//   weight: 400px;
// }
// }


@mixin border-box-stuff {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

@mixin fonts {
  font: {
  family: Arial;
    size: 2rem;
    weight: 900;
  }
}
